<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
      
      <form action="/createpassword" method="post" id="forgot-password" style="text-align: center; justify-content: center;" >
        <input type="email" placeholder="Email" name="email">
        <button style="font-size: 20px;">SEND</button>
      </form>

      <script src="/js/forgotpassword.js"></script>
    </body>
</html>