<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <form action="/checkverify" method="post"  style="text-align: center; justify-content: center;">
            <input type="text" placeholder=" Enter Token number" name="token">
            <button style="font-size: 20px;">Submit</button>
        </form>
    </body>
</html>