body{   
    background-image: url("../images/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


#home-container{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    width: 60%;
   
    
}
#login-container{
    display: inline-flex;
    padding: 10px;
}
.left-container{
    width: 50%;
    border-right: 1px solid lightgray;
}

#right-container{
    margin-left: 5px;
    display: block;
}

input[type=email],input[type=password],input[type=text]{
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus,input[type=password]:focus,input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}


#bg-model{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none
}

#modal-content{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
   
    position: relative;
    display: block;

}
#close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

i{
    margin: 5px;
}

#google-form{
    padding: 5px;
    background-color: rgb(231, 44, 44);
    border-radius: 15px;
    color: black;
}

#login-box{
    text-align: center;
}

