<h1>you have successfully created your account</h1>

<p>please verfy your account by placing the token in given link<br> Token :- <%=signup.secretToken%> <br>
    <a href="http://localhost:8000/users/verify"><%=signup.verify%></a><br>Thankyou for joining our family</p>